{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ignorePatterns": ["*spec.js"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-underscore-dangle": [1, { "allow": ["_id"] }]
  }
}
